/* Add CSS Styling */
.odd {
    background-color: rgb(222, 120, 137);
    font-family: 'Verdana', 'DejaVu sans', sans-serif; 
}

.change-font-size {
    font-size: 24px;
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth-element {
    background-color: rgb(60, 240, 36);
    font-weight: bold;
}